aiohttp
asyncio
beautifulsoup4
datetime
dotenv
faiss-cpu
groq
huggingface-hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
matplotlib
nest-asyncio
numpy
openai
pandas
pdfminer.six
psycopg2-binary
pypdf
python-dotenv
pytesseract
pytz
requests
scipy
sentence-transformers
streamlit
streamlit-markmap
typing-extensions
urllib3
validators
youtube-transcript-api