streamlit
langchain
groq
chatgroq
langgraph
psycopg2-binary
python-dotenv
pandas
numpy
matplotlib
chromadb
langchain-community
langchainhub
faiss-cpu
# Content extraction dependencies
aiohttp
beautifulsoup4
pypdf
youtube_transcript_api
# Document loaders
langchain-text-splitters
pytesseract
# PDF processing
pdfminer.six
# Core dependencies
validators
nest-asyncio